<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <meta charset="utf-8">
    </head>

    <body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">     
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="../../styles/chat.css" crossorigin="anonymous">

        <style>
            section{
                padding: 8px;
                margin: 10px;
                border: 1px solid black;
            }
            /* Overwrite default styles of hr */
            hr {
                border: 1px solid #f1f1f1;
                margin-bottom: 25px;
            }   
        
            * {
                box-sizing: border-box;
            }
            
            /* Add padding to containers */
            .container {
                padding: 16px;
                /* background-color: white; */
            }
            .buttons{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 10px;
            }
            .signupAnchor{
                color: royalblue;
            }

            .btn, .btn-success, .signupAnchor{
                margin-right: 15px;
            }

            required {
                color: red;
            }

        </style>
        <form id="login-facebook" action="<%= url %>/login-facebook" method="post" rel="noreferrer" target="_parent">
            <button>
                <img class="img" width="100" alt="" src="https://scontent.feoh1-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&amp;ccb=1-3&amp;_nc_sid=ad8a9d&amp;_nc_ohc=9QIEz4rgcgcAX_-IiX1&amp;_nc_ht=scontent.feoh1-1.fna&amp;oh=bab4eb2db2cabe4ec6467efc85969414&amp;oe=60B58C16">
            </button>
        </form>
        <form id="logIn" action="<%= url %>/login" method="post" rel="noreferrer" target="_parent" >
            <div class="container">
                <h1>Inicio de sesion</h1>
                <hr>
                <label for="uname"><b>Username</b></label>
                <input type="text" class="form-control" placeholder="Enter Username" name="email" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
                
                <div class="buttons">
                    <button class="btn btn-success" type="submit">Login</button>
                    <div style="margin-right: 15px;">o bien </div>
                    <a class="signupAnchor" href="<%= url %>/signup">Crear cuenta</a>
                    <div style="margin-right: 15px;">o bien </div>
                    <button>
                        <img class="img" width="100" alt="" src="https://scontent.feoh1-1.fna.fbcdn.net/v/t39.2365-6/17639236_1785253958471956_282550797298827264_n.png?_nc_cat=105&amp;ccb=1-3&amp;_nc_sid=ad8a9d&amp;_nc_ohc=9QIEz4rgcgcAX_-IiX1&amp;_nc_ht=scontent.feoh1-1.fna&amp;oh=bab4eb2db2cabe4ec6467efc85969414&amp;oe=60B58C16">
                    </button>
                </div>
            </div>
        </form>

        <div id="loader" class="loader loader-invisible"></div>

        <div id="message"></div>
        <iframe style="position: absolute; width:0; height:0; border:0;" name="login-result"></iframe>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js" integrity="sha512-1Gn7//DzfuF67BGkg97Oc6jPN6hqxuZXnaTpC9P5uw8C6W4yUNj5hoS/APga4g1nO2X6USBb/rXtGzADdaVDeA==" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>
        <!-- CDN: <script src="https://cdn.socket.io/3.1.1/socket.io.min.js" integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO" crossorigin="anonymous"></script> -->

        <script>
            let logIn = document.forms.logIn;
             let loader = document.getElementById("loader");
          
           logIn.addEventListener("submit", (ev)=>{
               loader.className = "loader loader-visible";
            //    axios.post("<%= url %>/login", {
            //        email: logIn.elements.email.value,
            //        password: logIn.elements.password.value
            //    })
            //    .then(res => {
            //        console.log("REspuesta", res);
            //        document.getElementById("message").innerHTML = "";
                //    window.history.go(0);
            //    })
            //    .catch(e => {
            //        console.log("Erorricito:", e);
            //        document.getElementById("message").innerHTML = `<h2>No se pudo logear &#128269;  &#x1F616; </h2>`
            //      })
            //      .finally(()=>{
            //          loader.className = "loader loader-invisible";
            //      })
             });
         </script>
    </body>

</html>